<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP in Action</title>


    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}">


</head>
<body>

<div class="container">
    <div class="jumbotron text-center">
        <h1>NLP in Action</h1>
    </div>

    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.input_text.label }}
            {{ form.input_text( id="input_text", class="form-control", rows="5" ) }}
        </div>
        {{ form.submit(type="submit",class="btn btn-default" ) }}
    </form>

    {% if res %}


        <div class="page-header">
            <h1>结果：</h1>
        </div>
        <div class="panel">
            <h4>
                <span>实体类别图示：</span>
                <span class="label label-danger">人名</span>
                <span class="label label-success">地名</span>
                <span class="label label-info">机构名</span>
                <span class="label label-default">其它</span>
            </h4>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h1 class="panel-title">HMM</h1>
                    </div>
                    <div class="panel-body" id="hmm_result">
                        {% for char, label in res['HMM'] %}
                            {% if label=='O' %}
                                <span class="label label-default">{{ char }}</span>
                            {% elif label=='nr' %}
                                <span class="label label-danger">{{ char }}</span>
                            {% elif label=='ns' %}
                                <span class="label label-success">{{ char }}</span>
                            {% elif label=='nt' %}
                                <span class="label label-info">{{ char }}</span>
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>

            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h2 class="panel-title">BiLSTM-CRF</h2>
                    </div>
                    <div class="panel-body" id="lstm_result">
                        {% for char, label in res['LSTM_CRF'] %}
                            {% if label=='O' %}
                                <span class="label label-default">{{ char }}</span>
                            {% elif label=='nr' %}
                                <span class="label label-danger">{{ char }}</span>
                            {% elif label=='ns' %}
                                <span class="label label-success">{{ char }}</span>
                            {% elif label=='nt' %}
                                <span class="label label-info">{{ char }}</span>
                            {% endif %}

                        {% endfor %}
                    </div>

                </div>

            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h2 class="panel-title">ALBERT</h2>
                    </div>
                    <div class="panel-body" id="lstm_result">
                        {% for char, label in res['ALBERT'] %}
                            {% if label=='O' %}
                                <span class="label label-default">{{ char }}</span>
                            {% elif label=='nr' %}
                                <span class="label label-danger">{{ char }}</span>
                            {% elif label=='ns' %}
                                <span class="label label-success">{{ char }}</span>
                            {% elif label=='nt' %}
                                <span class="label label-info">{{ char }}</span>
                            {% endif %}

                        {% endfor %}
                    </div>

                </div>

            </div><!-- /.col-sm-4 -->
        </div>


    {% endif %}


</div>


<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>


</body>
</html>